@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .field-model {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white;
  }

  .icon-button{
    @apply text-gray-500 transition duration-75 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white
  }

  .form-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
  }

  .calendar-style {
    @apply bg-gray-50 dark:bg-gray-600 text-gray-900 dark:text-white rounded-lg
  }
}


.body-content{
    @apply p-0;
    @apply my-10;
    margin-left: 250px;
    margin-top: 60px;
    padding: 20px;
    flex-grow: 1;
}
.tablita {
    @apply p-1; /* Espaciado interno */
   
  }
  
  .body .form-select {
    @apply mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500; /* Estilos para los select */
  }
  
  .body-content .table-responsive {
    @apply overflow-x-auto; /* Aplica Tailwind para scroll horizontal */
    @apply py-10;
  }
  
  .body .table {
    @apply min-w-full divide-y divide-gray-300 p-0;  /* Estilos para la tabla */
  }

  .tablita .selects {
    @apply p-10;
    @aplly space-y-96 > * + *
  }

  .table-responsive {
    max-height: 350px; /*ajustar la altura maxima de la tabla*/
  }

  .content {
    margin-left: 250px;
    margin-top: 100px;
    padding: 20px;
    flex-grow: 1;
  }

  footer{
    @apply ml-5;
    @apply pl-56;
  }


/* para grafica */

 .content2 {
  @apply space-y-96
  }

  .graph {
    margin-left: 250px;
    margin-top: 60px;
    padding: 20px;
    flex-grow: 1;
   
  }

 .invitacion{
  display: flex;
  flex-direction: column;
 }


 .title{
  display: flex;
  margin-left: 280px;
  margin-top: 60px;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
 }

 .centro{
  display: flex;
  align-items: center;
  margin-left: 250px;
  margin-right: 100px;
  margin-top: 1px;
  padding-top: 1px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 20px;
  color: white;
  gap: 20px;
  
 }
.centroAction{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  
}



 .centro2{
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
 }

 /* SolicitudView  */

 .centroSolicitud{
  display: flex;
  align-items: center;
  margin-left: 250px;
  margin-right: 0px;
  margin-top: 1px;
  padding-top: 10px;
  padding-left:50px;
  padding-bottom: 0px;
  padding-right: 20px;
  color: white;
  gap: 20px;
  
 }

 .titleSolicitud{
  display: flex;
  margin-left: 280px;
  margin-top: 60px;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
 }
 .createAction{
  display: flex;
  flex-direction: column;

  
 }

 /* Sesion  */

 .titleSesion{
  display: flex;
  margin-left: -19px;
  margin-top: -7px;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 0px;
 }

/* Proposociones  */

.centroProposiciones{
  display: flex;
  align-items: center;
  margin-left: 250px;
  margin-right: 0px;
  margin-top: 1px;
  padding-top: 10px;
  padding-left:50px;
  padding-bottom: 0px;
  padding-right: 20px;
  color: white;
  gap: 20px;
  
 }
 /* Tarea */
 .centroTarea{
  display: flex;
  margin-left: 250px;
  margin-top: 100px;
  padding: 10px;
 }
 .titleTarea{
  display: flex;
  margin-top: 80px;
  margin-bottom: -100px;
  color: white;
  margin-left: 250px;
  padding: 10px;
 }