@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .field-model {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white;
  }

  .icon-button{
    @apply text-gray-500 transition duration-75 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white
  }
}


.body-content{
    @apply p-0;
    @apply my-10;
    margin-left: 250px;
    margin-top: 60px;
    padding: 20px;
    flex-grow: 1;
}
.tablita {
    @apply p-1; /* Espaciado interno */
   
  }
  
  .body .form-select {
    @apply mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500; /* Estilos para los select */
  }
  
  .body-content .table-responsive {
    @apply overflow-x-auto; /* Aplica Tailwind para scroll horizontal */
    @apply py-10;
  }
  
  .body .table {
    @apply min-w-full divide-y divide-gray-300 p-0;  /* Estilos para la tabla */
  }

  .tablita .selects {
    @apply p-10;
    @aplly space-y-96 > * + *
  }

  .table-responsive {
    max-height: 350px; /*ajustar la altura maxima de la tabla*/
  }

  .content {
    margin-left: 250px;
    margin-top: 100px;
    padding: 20px;
    flex-grow: 1;
  }

  footer{
    @apply ml-5;
    @apply pl-56;
  }


/* para grafica */

 .content2 {
  @apply space-y-96
  }

  .graph {
    margin-left: 250px;
    margin-top: 60px;
    padding: 20px;
    flex-grow: 1;
   
  }

 .invitacion{
  display: flex;
  flex-direction: column;
 }

